.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #282c34;
  padding-top: 20vh;
}

.container {
  width: 70vw;
  min-height: 60vh;
  border: 3px solid palevioletred;
  border-radius: 3vh;
  margin: auto;
  position: relative;
}

.file-label {
  display: flex;
  width: 30vw;
  height: 30vh;
  background-color: blanchedalmond;
  position: absolute;
  border-radius: 3vh;
  top: 5vh;
  left: 20vw;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2vw;
}

.file-input {
  height: 0;
  width: 0;
  position: absolute;
}


.photo-layout {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  margin: 40vh auto 0;
  background-color: transparent;
}

.photo-item {
  width: 10vw;
  height: 10wv;
  margin-left: 1vh;
  position: relative;
}

.photo-item:first-of-type {
  margin-left: 0;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: azure;
  font-weight: 800;
  border-radius: 50%;
  border: 3px solid wheat;
}

.img-item {
  width: 10vw;
  height: 10vw;
}